.collapseBlock {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;

    position: sticky;
    top: 0px;

    &__content {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;

    font: inherit;
    color: inherit;

    cursor: pointer;
  }

  &__content {
    &--hidden {
      display: none;
    }
  }
}
